/*font-family: 'Cabin', sans-serif;
}
*/
html {
	height: 100%;
}
body {
	background: url("../images/rosechic.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: 50% 40%;
	background-size: 100% 100%;
	/*filter: saturate(50%);*/
	color: white;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
p {
	font-size: 2em;
	color: black;
	font-family: "Playfair Display", serif;
}
button {
	width: 150px;
	height: 65px;
	margin: 10px;
	font-size: 18px;
	border-radius: 5px;
	background: #2255BB;
	color: white;
	cursor: pointer;
}
h2 {
	font-size: 7em;
	font-family: "Josefin Sans", sans-serif;
	color: black;
	font-weight: bolder;
}
/*Laptops/Desktop*/
@media screen and (min-width: 1240px){
	body {
		/*background: red;*/
	}
	h2 {
		font-size: 7em;
		text-align: center;

	}
	.card, .portfolio {
		margin: 0px 100px;
	}	
	.card-border-top, .card-border-middle, .card-border-bottom {
		border: 10px solid pink;
	}
	.module-landing {
		background: url(../images/van.gif);
		background-repeat: no-repeat;
		background-position: 50% 70%;
		background-size: 100%;
	}
	.sidebar {
		display: flex;
		flex-direction: row;
		padding: 20px 50px;
	}
	.sidebar-item {
		font-size: 30px;
	}
	#eva, #lieu {
		font-size: 3.5em;
	}
}
/*iPads*/
@media screen and (min-width: 945px) and (max-width: 1240px){
	body {
		/*background: orange;*/
	}
	h2 {
		font-size: 5em;
		text-align: center;
	}
	.card, .portfolio {
		margin: 0px 100px;
	}	
	.card-border-top, .card-border-middle, .card-border-bottom {
		border: 10px solid pink;
	}
	p {
		font-size: 2em;
	}
	.module-landing {
		background: url(../images/van.gif);
		background-repeat: no-repeat;
		background-position: 50% 70%;
		background-size: 100%;
	}
	.sidebar {
		display: flex;
		flex-direction: row;
		padding: 20px 50px;
	}
	.sidebar-item {
		font-size: 30px;
	}
	#eva, #lieu {
		font-size: 3em;
	}
}
/*Filler*/
@media screen and (min-width: 760px) and (max-width: 945px){
	body {
		/*background: yellow;*/
	}
	h2 {
		font-size: 5em;
		text-align: center;
	}
	.card, .portfolio {
		margin: 0px 100px;
	}
	.card-border-top, .card-border-middle, .card-border-bottom {
		border: 10px solid pink;
	}	
	p {
		font-size: 1.5em;
	}	
	.module-landing {
		background: url(../images/van.gif);
		background-repeat: no-repeat;
		background-position: 50% 70%;
		background-size: 100%;
	}
	.sidebar {
		display: flex;
		flex-direction: row;
		padding: 20px 50px;
	}
	.sidebar-item {
		font-size: 30px;
	}
	.icon {
		width: 75px;
		height: 75px;
	}
	#eva, #lieu {
		font-size: 2.5em;
	}
}
/*Smart Phones*/
@media only screen and (max-width: 760px) {
	body {
		/*background: green;*/
	}
	h2 {
		font-size: 4em;
		text-align: center;
	}
	.sidebar {
		display: flex;
		flex-direction: column;
		padding: 20px 50px;
	}
	.sidebar-item {
		font-size: 20px;
		margin: 10px 0;
	}
	.module-landing {
		background: url(../images/van.gif);
		background-repeat: no-repeat;
		background-position: 50% 70%;
		background-size: 100% 100%;
	}
	.card, .portfolio {
		margin: 0px 0px;
	}
	.card-border-top, .card-border-middle, .card-border-bottom {
		border: none;
	}
	p {
		font-size: 1em;
	}
	.icon {
		width: 50px;
		height: 50px;
	}
	#eva, #lieu {
		font-size: 2.5em;
	}
}