html {
	height: 100%;
}
body {
	background: url("../images/geo1.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
	background-position: 50% 40%;
/*	background-size: 100% 250%;
	filter: saturate(50%);
*/	color: white;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
p {
	font-size: 2em;
	color: black;
	font-family: "Playfair Display", serif;
}
button {
	width: 150px;
	height: 65px;
	margin: 10px;
	font-size: 18px;
	border-radius: 5px;
	background: #2255BB;
	color: white;
}
	/*font-family: 'Cabin', sans-serif;
}
*/