.module-connect {
	background: #307473;
}
.card-border-bottom {
	border: 10px solid pink;
	border-top: none;
	height: 75%;
	width: 85%;
	z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.connect-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
}